<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Utsav is listening to</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/error.css'>
    <link rel="icon" href="https://www.scdn.co/i/_global/favicon.png">

</head>

<body>
    <h3 style="color: tomato;">Something went wrong </h3>
    <div class="errorp">
        <h4>Regenerate token by clicking below button- </h4>
        <a href="https://spotify-currently-listening.herokuapp.com"> <img class="errorimage" src="/auth.png" alt="" srcset=""></a>
    </div>

</body>

</html>